body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  background-color: #ffab762d;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto auto 6rem;
  row-gap: 0.8rem;
  margin: 2%;
}

.header {
  background-color: #fffda2;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  border-top: 0.0625rem #ffab76 solid;
  border-bottom: 0.0625rem #ffab76 solid;
  border-left: 0.0625rem #ffab76 solid;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#top > a {
  font-size: 1rem;
  text-decoration: none;
  color: #ff6363;
}

.navbar {
  background-color: #fffda2;
  border-top: 0.0625rem #ffab76 solid;
  border-bottom: 0.0625rem #ffab76 solid;
  border-right: 0.0625rem #ffab76 solid;
  grid-row: 1;
  grid-column-start: 5;
  grid-column-end: 13;
}
.navbar ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar li {
  text-align: center;
}

.navbar li > a {
  text-decoration: none;
  color: #ff6363;
}

.sidebar {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
#ad_1 {
  grid-row: 2;
  width: 100%;
  height: 25%;
  display: block;
}
.main {
  border: 0.0625rem solid #ffab76;
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 13;
  display: flex;
  flex-direction: row;
}
#sub-main {
  width: 100%;
  background-color: #fffda2;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.title {
  background-color: #fffda2;
  border-bottom: 0.0625rem solid #ffab76;
}
.title h3 {
  color: #ff6363;
}
.headline {
  height: 100%;
  border-right: 0.0625rem solid #ffab76;
  margin: 4%;
}
#sub-main:last-child .headline {
  border-right: 0.0625rem transparent;
}

.headline a img {
  height: auto;
  width: 50%;
}

.headline h4 a {
  text-decoration: none;
  color: #ff6363;
}
.ads {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 13;
}
#ad_2 {
  width: 100%;
  height: 100%;
  grid-row: 3;
}
.footer {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #fffda2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  color: #ff6363;
  border: 0.0625rem solid #ffab76;
}
.footer > a {
  text-decoration: none;
  color: #ff6363;
}
.footer > div > a {
  margin-right: 0.5rem;
  text-decoration: none;
  color: #ff6363;
}
@media screen and (max-width: 4000px) and (min-width: 1921px) {
  .container {
    grid-template-rows: auto 1fr 0.5fr 6rem;
  }
  .header a h2 {
    font-size: 2.5rem;
  }
  .navbar {
    font-size: 1.8rem;
  }
  #bottom {
    font-size: 1.8rem;
  }
  .logo > svg {
    height: 1.5rem;
    width: auto;
  }
  .sidebar {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .main {
    grid-column-start: 4;
    grid-column-end: 13;
  }
  .title h3 {
    font-size: 1.9rem;
  }
  .headline h4 {
    font-size: 1.7rem;
  }

  .ads {
    width: 100%;
    height: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-rows: 6rem 1fr 0.5fr 6rem;
  }
  .header a h2 {
    font-size: 1.2rem;
  }
  .navbar {
    font-size: 1rem;
  }
  #bottom {
    font-size: 0.8rem;
  }
  .logo > svg {
    height: 0.7rem;
    width: auto;
  }
  .sidebar {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .main {
    grid-column-start: 4;
    grid-column-end: 13;
  }
  .title h3 {
    font-size: 0.7rem;
  }
  .headline h4 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    row-gap: 0.5rem;
    margin: 0;
  }

  #top h2 {
    margin: 4% 0% 4% 4%;
  }
  .header {
    grid-row: 1;
    grid-column: 1;
  }
  .navbar {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .header a h2 {
    font-size: 1rem;
  }
  .navbar {
    font-size: 0.8rem;
  }
  .sidebar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  #ad_1 {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
  .main {
    border: 0.0625rem solid #ffab76;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    flex-direction: column;
  }
  .title {
    background-color: #fffda2;
    border-bottom: 0.0625rem solid #ffab76;
    border-top: 0.0625rem solid #ffab76;
  }
  #sub-main:first-child .title {
    border-top: 0rem;
  }

  .headline {
    border-right: 0rem;
  }
  .ads {
    grid-row: 4;
    grid-column: 1 / span 4;
  }
  #ad_2 {
    height: auto;
    width: 100%;
  }
  .footer {
    grid-row: 5;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer > a {
    margin: 4%;
  }
  .footer > div {
    margin: 4%;
  }
  #bottom {
    grid-row: 5;
    font-size: 0.9rem;
  }
  .logo > svg {
    height: 0.9rem;
    width: auto;
  }
}
